nav{
  position: fixed;
  text-decoration: none;
  float: right;
}
.navelements{
  text-decoration: none;
  decoration: none;
}
.navelements:hover{
  text-decoration: underline;
}
.page{
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  max-width: 272px;
}
input{
  width: 300px;
}
input:hover{
  border-block-color: aqua;
}
